* {
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Domine', serif;
    font-size: 17px;
}

#videoBack {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#videoControl {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#videoControl:hover {
    background: #ddd;
    color: black;
}

#formContainer {
    position: fixed;
    padding: 10px;
}

.content {
    position: fixed;
    min-height: 300px;
    height: 40%;
    max-height: 400px;
    top: 28%;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tempClass {
    font-size: 160px;
}

.cityHeadClass {
    font-size: 20px;
}

#infoContainer {
    text-align: center;
}

/* Reset Margin, Padding & Line Height */
.mpl_0 {
    margin: 0;
    padding: 3px 0;
    line-height: 1.0;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.textFoot {
    font-size: 12px;
    padding-right: 10px;
    color: #f1f1f1;
}

.textFootApp {
    font-family: 'Satisfy', cursive;
    font-size: 15px;
}

.textFootCredits {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

a.creditLink:link,
a.creditLink:active,
a.creditLink:visited {
    color: #f1f1f1;
    text-decoration: none;
}

a.creditLink:hover {
    text-decoration: underline;
}